# See http://help.github.com/ignore-files/ for more about ignoring files.

dist/
tmp/
out-tsc/
target/

!.mvn/wrapper/maven-wrapper.jar

# dependencies
node/
node_modules/

# IDEs and editors
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.sts4-cache/
.vscode

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### STS ###
.apt_generated
.factorypath
.settings
.springBeans

### NetBeans ###
nbproject/private/
build/
nbbuild/
nbdist/
.nb-gradle/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db